<ion-view view-title="Feedback" >
	<ion-content ng-class="{expanded:isExpanded}" class="padding animate-fade-slide-in">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh_schedules()"></ion-refresher>
		</ion-content>
</ion-view>