<ion-side-menus enable-menu-with-back-views="true" ng-controller="MainCtrl">
	<ion-side-menu-content>
		<ion-nav-bar ng-attr-class="bar-assertive-900" align-title="right">
			<ion-nav-back-button class="no-text">
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon button-clear ion-navicon">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabContent"></ion-nav-view>
		<ion-nav-view name="menuContent">This is here</ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-content style="background:white; top:0px!important">
			<ion-header-bar class="dark-bg expanded allign-parent">
				<h2 class="allign-child">Main Menu</h2>
			</ion-header-bar>
			<ion-content class="stable-bg has-expanded-header has-header has-footer leftside-content">
				<br><br><br>
				<ion-list>
					<ion-item nav-clear menu-close ui-sref="app.lights">
						Lights
					</ion-item>
					<ion-item nav-clear menu-close ui-sref="app.schedules">
						Schedules
					</ion-item>
					<!-- <ion-item nav-clear menu-close ui-sref="app.settings">
						Settings
					</ion-item>
					<ion-item nav-clear menu-close ui-sref="app.feedback">
						Feedback
					</ion-item> -->
				</ion-list>
			</ion-content>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>