<ion-view view-title="Edit Schedule" ng-controller="ScheduleCtrl as scheduleboard">
	<ion-content ng-class="{expanded:isExpanded}" class="padding animate-blinds">
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="scheduleboard.refreshpage()"></ion-refresher> -->
		<ul class="list">
			<li class="item item-toggle" style="text-align:left">
				<h2><b>{{scheduleboard.task.name}}</b></h2>
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="scheduleboard.task.state" ng-click="setstate(scheduleboard.task)">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
		<style scoped>
			.button-bar > .button {
				padding : 6px 16px;
				text-overflow: clip;
			}
		</style>
		<div class="list card light-bg ink ink-dark">
			<style scoped>
				.button-micro { width: 100%; padding: 0px 7px; }
				.stripped { padding: 0px; }
				.stripped-vertical { padding-top: 0px; padding-bottom: 0px; }
				.stripped-horizontal { padding-left: 0px; padding-right: 0px; }
			</style>
			<div class="row">
				<div class="col col-33">
					<div class="item stripped">
						<h3>Time</h3><br>
						<a ng-class="{'button-balanced':(scheduleboard.task.state==true), 'button-assertive':(scheduleboard.task.state==false)}" 
						ng-click="ontimePicker()" class="button button-light button-micro">
							{{scheduleboard.task.ontime.text || '--:--'}}
						</a>
						<br>To<br>
						<a ng-class="{'button-balanced':(scheduleboard.task.state==true), 'button-assertive':(scheduleboard.task.state==false)}" 
						ng-click="offtimePicker()" class="button button-light button-micro">
							{{scheduleboard.task.offtime.text || '--:--'}}
						</a>
					</div>
				</div>
				<div class="col col-66">
					<ph-weekday ng-model="scheduleboard.task.days.bool" ng-change="onDayChanged" ph-last="scheduleboard.lastDaysIndex" active="scheduleboard.task.state">
					</ph-weekday>
					<div class="row stripped-vertical">
						<div class="col col-10"></div>
						<div class="col col-10">
							<button class="button button-small" ng-disabled="!scheduleboard.edited" ng-click="setTime()" 
							ng-class="{'button-balanced':scheduleboard.task.state, 'button-assertive':!scheduleboard.task.state}">
								Save
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="light in scheduleboard.task.lights">
		<button class="button button-small"> {{getLightName(light)}} </button>
		</div>
	</ion-content>
</ion-view>