<ion-view view-title="Settings" ng-controller="SettingsCtrl as settingspage">
	<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh_settings()"></ion-refresher>
		<ion-list>
			<br>
			<div class="list">
				<label class="item item-input" >
					<span class="input-label"><h2>CCTV IP</h2></span>
					<input class="input-field" type="text">
				</label>
				<label class="item item-input" >
					<span class="input-label"><h2>CCTV Port</h2></span>
					<input class="input-field" type="text">
				</label>
				<label class="item item-input" >
					<span class="left input-label"><h2>CCTV Video Url</h2></span>
					<input class="input-field" type="text">
				</label>
				<label class="item item-input" >
					<span class="input-label"><h2>Remote Url</h2></span>
					<input class="input-field" type="text">
				</label>
				<label class="item item-input" >
					<span class="input-label"><h2>Phone Number</h2></span>
					<input class="input-field" type="text">
				</label>
			</div>
			<button class="button button-block button-assertive" 
			>
				Save
			</button>
		</ion-list>
	</ion-content>
</ion-view>
